/* styles.css */
.favorites-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .favorites-title {
    margin-top: 0;
    font-weight: bold;
    font-size: 24px;
    color: #333;
    text-align: center;
  }
  
  .favorites-list {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .favorite-video {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: calc(33.33% - 20px);
  }
  
  .favorite-video img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  .favorite-video span {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
  }
  
  .remove-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .remove-button:hover {
    background-color: #cc0000;
  }